body{
    margin:0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg,#007bff,#00c6ff);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.main{
    width:100%;
}

.form-card{
    width:350px;
    background:white;
    padding:30px;
    border-radius:12px;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

h2{
    text-align:center;
    margin-bottom:20px;
}

.input-group{
    margin-bottom:15px;
}

label{
    font-weight:600;
}

input{
    width:100%;
    padding:10px;
    border-radius:6px;
    border:1px solid #ccc;
    margin-top:5px;
    transition:0.3s;
}

input:focus{
    border-color:#007bff;
    outline:none;
    box-shadow:0 0 5px rgba(0,123,255,0.4);
}

button{
    width:100%;
    padding:12px;
    background:#007bff;
    color:white;
    border:none;
    border-radius:6px;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#0056b3;
}

#errorMsg{
    color:red;
    text-align:center;
    margin-top:10px;
}
