body{
    font-family: Arial;
    background-color: #f0f4f8;
}

.container{
    width: 400px;
    margin: auto;
    margin-top: 80px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px gray;
}

h2{
    text-align: center;
}

input{
    width: 100%;
    padding: 8px;
    margin: 8px 0;
}

button{
    width: 100%;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
}

#errorMsg{
    color: red;
    text-align: center;
}
